<!DOCTYPE HTML>
 <html lang="eng-US" style="height:100%;">

{% extends "design.html" %}

{% block navtext %}
<div class="top"><h1>Resources </h1>
So, right now sucks. But here are some things that may help
</div>
{% endblock %} 

{% block content %}

<style>
iframe{ width: 100%;}
</style>


<a href="http://www.thefrisky.com/2008-11-11/how-to-survive-the-first-30-days-of-a-breakup">  The first 30 days can be the hardest
<div class="box"><iframe src="http://www.thefrisky.com/2008-11-11/how-to-survive-the-first-30-days-of-a-breakup"  height = "300px"></iframe></a></div>

<a href="https://www.enotalone.com/relationships/4472.html">  Wise words
<div class="box"><iframe src="https://www.enotalone.com/relationships/4472.html"  height = "300px"></iframe></a></div>


<a href="http://www.huffingtonpost.com/ellen-huerta/15-breakup-movies-to-watch-on-netflix_b_9269968.html">  Distractions
<div class="box"><iframe src="http://www.huffingtonpost.com/ellen-huerta/15-breakup-movies-to-watch-on-netflix_b_9269968.html" height = "300px"></iframe></a></div>

<a href="https://www.thestudentroom.co.uk/wiki/How_to_cope_with_a_Break_up">  University advice
<div class="box"><iframe src="https://www.thestudentroom.co.uk/wiki/How_to_cope_with_a_Break_up/"  height = "300px"></iframe></a></div>

<a href="http://lifehacker.com/how-to-stay-focused-at-work-while-youre-going-through-a-1704354796>  Work advice
<div class="box"><iframe src="http://lifehacker.com/how-to-stay-focused-at-work-while-youre-going-through-a-1704354796/" " height = "300px"></iframe></a></div>




{% endblock %} 